name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew assembleRelease
    - name: Set up Keystore
      run: |
        sudo apt update -y || true
        sudo apt install -y --no-install-recommends coreutils
        mkdir -p $RUNNER_TEMP/keystores
        echo "${{ secrets.KEYSTORE_FILE }}" | base64 --decode > $RUNNER_TEMP/keystores/keystore.jks
    - name: Sign APK
      run: |
        ANDROID_SDK_PATH=$ANDROID_HOME/build-tools/35.0.0/apksigner
        $ANDROID_SDK_PATH sign \
        --ks $RUNNER_TEMP/keystores/keystore.jks \
        --ks-key-alias ${{ secrets.RELEASE_SIGN_KEY_ALIAS }} \
        --ks-pass pass:${{ secrets.KEYSTORE_PASSWORD }} \
        --key-pass pass:${{ secrets.KEYSTORE_PASSWORD }} \
        --out app-release.apk \
        app/build/outputs/apk/release/*.apk
    - name: Upload APK Artifact
      uses: actions/upload-artifact@v4
      with:
        name: apk-artifact
        path: app-release.apk
        compression-level: 5
